params {
  inputDir          = "${PWD}/../../data/covid-spings/input"
  outputDir         = "${PWD}/../../data/covid-spings/output"
  reference         = "${PWD}/../../data/covid-spings/dataset/covid-reference.fasta"
  referenceIndex    = "${PWD}/../../data/covid-spings/dataset/covid-reference.fasta.fai"
  watch             = false
  exitFile          = "exit.fastq"
  threads           = 16
  gpus              = 0
  docker            = false
  help              = false
}

docker {
  enabled           = params.docker
}

singularity {
  enabled           = !params.docker
  autoMounts        = true
}

manifest {
  name              = "COVID-SpiNGS pipeline"
  author            = "Christoph Stach"
  description       = "COVID-SpiNGS pipeline"
  mainScript        = "main.nf"
  version           = "1.0.0"
}

proccess {
  cpus              = params.threads
}

executor {
  name              = "local"
  memory            = "12 GB"
  queueSize         = 16
}