
conda {
enabled             = true
useMamba            = true
environmentFile     = "${PWD}/nanosim_env.yml"
}

params {

  baseDir           = "${PWD}"
  covidRefDir       = "${PWD}/data/covid/"
  humanGenomeRefDir = "${PWD}/data/human_genome/"
  samFile           = "${PWD}/data/input.bam"
  nanoSimOutputDir  = "${PWD}/data/NanoSim_output/"
  nanoSimScriptsDir = "${PWD}/src/modules/simulation/NanoSim/src/"
  nanoSimConfigDir  = "${PWD}/src/modules/simulation/config_files/"
  inputDir          = "${PWD}/../data/covid-spings/input"
  outputDir         = "${PWD}/../../data/covid-spings/output"
  covidURL2         = "https://files.ca-1.osf.io/v1/resources/jt2n5/providers/osfstorage/5ede595708aad3013143c7f3?action=download&direct&version=3"
  covidURL2         = "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=nuccore&id=OX463106&rettype=fasta&retmode=text"
  covidURL1         = "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=nuccore&id=NC_045512.2&rettype=fasta"
  threads           = 4
  gpus              = 0
  docker            = false
  help              = false
}


manifest {
  name              = "COVID-SpiNGS pipeline"
  author            = "Christoph Stach and Vicky Mielczarek"
  description       = "COVID-SpiNGS pipeline"
  mainScript        = "main.nf"
  version           = "1.0.0"
}

proccess {
  cpus              = params.threads
}

executor {
  name              = "local"
  memory            = "12 GB"
  queueSize         = 16
}