conda.enabled = true
process.conda = "$baseDir/nanosim_env.yml"
conda.useMamba = true

params {
  baseDir           = "${PWD}"
  covidRefDir       = "${PWD}/data/covid"
  humanGenomeRefDir = "${PWD}/data/human_genome"
  inputDir          = "${PWD}/../data/covid-spings/input"
  outputDir         = "${PWD}/../../data/covid-spings/output"
  downloadDir       = "${PWD}/data/"
}

log.file = 'pipeline_dd-MM-YYYY_HH.mm.ss.log'
log.dir = '/logs'
