params {
  watchPath  = "${PWD}/input/*.fastq"
  referenceGenomePath = "${PWD}/input/sequence.fasta"
  publishDir = "${PWD}/output"
  mergeBamFileName = "merge.bam"
  help = false
}

singularity {
  enabled = true
  autoMounts = true
}

manifest {
  name = 'christophstach/nextflow-basics'
  author = 'Christoph Stach'
  description = 'Basics for nextflow'
  mainScript = 'main.nf'
  version = '1.0.0'
}